<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlaffyCat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlaffyCat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <userSettings>
    <FlaffyCat.Properties.Settings>
      <setting name="CurrentFlaffyUserName" serializeAs="String">
        <value>D3F4ULT</value>
      </setting>
      <setting name="CurrentFlaffyUserPassword" serializeAs="String">
        <value>DefaultPassword</value>
      </setting>
      <setting name="RenderType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MovieRenderBG" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="GameRenderBG" serializeAs="String">
        <value>Control</value>
      </setting>
      <setting name="DefaultRenderFont" serializeAs="String">
        <value>Microsoft Sans Serif, 12pt</value>
      </setting>
      <setting name="RenderFont" serializeAs="String">
        <value>Arial, 12pt</value>
      </setting>
      <setting name="ExperimentalRender" serializeAs="String">
        <value>False</value>
      </setting>
    </FlaffyCat.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <FlaffyCat.Properties.Settings>
      <setting name="DefaultGameRenderBG" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="DefaultMovieRenderBG" serializeAs="String">
        <value>Transparent</value>
      </setting>
    </FlaffyCat.Properties.Settings>
  </applicationSettings>
</configuration>